.container {
    width: 343px;
    height: 100%;
    margin-top: 32px;
    margin-bottom: 37px;
    background: #EFF7FF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Roboto';
    font-style: normal;

    .close {
        align-self: flex-end;
        margin-top: 20px;
        margin-right: 20px;
        cursor: pointer;

        img {
            width: 16px;
            height: 16px;
        }
    }

    .header {
        width: 309px;
        height: 24px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-top: 18px;
    }

    .description {
        width: 248px;
        height: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-top: 20px;
    }

    .targets {
        width: 146px + 16px + 146px;
        height: 198px + 16px + 198px;
        margin-top: 51px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }

    .button {
        margin-top: 24px;
        margin-bottom: 22px;
    }
}