.firstElipse {
    display: flex;
    width: 320px;
    height: 320px;
    margin: 246px auto 0 auto;
    background-color: #B3DAFF;
    border-radius: 50%;

    .secondElipse {
        display: flex;
        width: 220px;
        height: 220px;
        margin: 50px auto 50px auto;
        background-color: #A3D1FB;
        border-radius: 50%;

        .thirdElipse {
            display: flex;
            width: 120px;
            height: 120px;
            margin: 50px auto 50px auto;
            background-color: #8CC8FF;
            border-radius: 50%;
        }
    }
}

.bird {
    margin: -314px auto 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    position: relative;

    .img_gus {
        position: absolute;
        width: 267px;
        left: -130px;
        animation-name: animation-gus;
        animation-duration: 700ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-delay: 350ms;
    }

    @keyframes animation-gus {
        0%{
            width: 220px;
            left: -105px;
        }
        50%{
            width: 267px;
            left: -135px;
        }
        100%{
            width: 300px;
            left: -145px;
        }
    }

    .text {
        background-image: url('../img/vector1112.png');
        background-repeat: no-repeat;
        padding-top: 60px;
        width: 200px;
        height: 140px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        position: absolute;
        top: 145px;
        left: -70px;

        p {
            width: 150px;
            height: 40px;
            margin-left: 20px;
        }
    }
}