.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bird {
    display: flex;
    flex-direction: column;
    padding-top: 252px;
    position: relative;

    .img_gus {
        animation-name: animation-gus;
        animation-duration: 800ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        position: absolute;
    }

    @keyframes animation-gus {
        0%{
            width: 267px;
            height: 172px;
            top: 280px;
            left: -35px;
        }
        33%{
            width: 176px;
            height: 113px;
            top: 310px;
            left: 13px;
        }
        66%{
            width: 308px;
            height: 216px;
            top: 258px;
            left: -59px;
        }
        100%{
            width: 267px;
            height: 172px;
            top: 280px;
            left: -35px;
        }
    }

    .text {
        background-image: url('../img/vector1112.webp');
        background-repeat: no-repeat;
        padding-top: 60px;
        width: 200px;
        height: 140px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        position: relative;
        top: 155px;
        left: 30px;

        p {
            width: 150px;
            height: 40px;
            margin-left: 20px;
        }
    }
}