.firstElipse {
    display: flex;
    width: 320px;
    height: 320px;
    margin: 246px auto 0 auto;
    background-color: #B3DAFF;
    border-radius: 50%;

    .secondElipse {
        display: flex;
        width: 220px;
        height: 220px;
        margin: 50px auto 50px auto;
        background-color: #A3D1FB;
        border-radius: 50%;

        .thirdElipse {
            display: flex;
            width: 120px;
            height: 120px;
            margin: 50px auto 50px auto;
            background-color: #8CC8FF;
            border-radius: 50%;
        }
    }
}