.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .text {
        margin-top: 43px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 71%;
        margin-top: 35px;
    }

    .button {
        margin-bottom: 59px;
    }
}
